<div class="section contact" data-anchor="contact">
  <div class="creators">
    <div class="anne">
      <p>
        Anne Lacy<br>
        Co-Founder<br>
        <a href="mailto:anne@adultwomen.space">anne@adultwomen.space</a>
      </p>
    </div>
    <div class="general">
      <p>
        General Inquiries<br>
        <a href="mailto:info@adultwomen.space">info@adultwomen.space</a>
      </p>
    </div>
    <div class="nanah">
      <p>
        Nanah Han<br>
        Co-Founder<br>
        <a href="mailto:nanah@adultwomen.space">nanah@adultwomen.space</a>
      </p>
    </div>
  </div>

  <div class="contributors">
    <div class="jamie">
      <p>
        Jamie Sebold<br>
        Visual Designer<br>
        <a href="mailto:jsebold@gmail.com">jsebold@gmail.com</a>
      </p>
    </div>
    <div class="dinah">
      <p>
        Dinah Bakeer<br>
        Web Developer<br>
        <a href="mailto:dinah.bakeer@gmail.com">dinah.bakeer@gmail.com</a>
      </p>
    </div>
  </div>
</div>
