.contact {
  text-align: center;
  .creators {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
  }
  .anne,
  .nanah,
  .general {
    display: flex;
    align-items: center;
    height: 225px;
    line-height: 2;
    @media screen and (max-width: 767px) {
      border-bottom: 1px solid white;
      width: 300px;
      justify-content: center;
    }
    @media screen and (min-width: 768px) {
      border: 1px solid white;
      padding: 0 25px;
      margin: 50px 2vw;
    }
  }
  @media screen and (max-width: 1023px) {
    .general {
      order: 1;
    }
    .anne {
      order: 2;
    }
    .nanah {
      order: 3;
    }
  }
  .contributors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    @media screen and (min-width: 767px) {
      justify-content: center;
      flex-direction: row;
    }
  }
  .jamie {
    @media screen and (max-width: 767px) {
      border-bottom: 1px solid white;
    }
  }
  .jamie,
  .dinah {
    line-height: 2;
    margin: 0 5vw;
    @media screen and (min-width: 768px) {
      padding: 25px;
      height: auto;
      max-width: 50vw;
    }
    @media screen and (max-width: 767px) {
      height: 225px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
    }
  }
}
