.contact {
  text-align: center;
  .creators {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  .anne,
  .nanah,
  .general {
    display: flex;
    align-items: center;
    padding: 0 25px;
    border: 1px solid white;
    height: 225px;
    margin: 0 2vw 50px;
    line-height: 2;
  }
  .contributors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (min-width: 767px) {
      justify-content: center;
    }
  }
  .jamie,
  .dinah {
    padding: 25px;
    margin: 0 5vw;
    max-width: 50vw;
  }
}
