.photos {
  background: black;
  img {
    @media screen and (min-width: 1024px) {
      height: 100vh !important;
    }
  }
}

.photo-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
